//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Raleway";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1150;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
   color: #000;
   font-size: 14px;
   &.lock {
      overflow: hidden;
   }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   // width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   &.loaded {
   }
}
// </ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   margin: 0 auto;
   width: 100%;
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
.title {
   font-family: Raleway;
   font-style: normal;
   font-weight: 600;
   line-height: 65px;
   @include adaptiv-font(50, 28);
   @media (min-width: $mw + px) {
      font-size: 50 + px;
   }
   @media (max-width: $md1+px) {
      line-height: 45px;
   }
   @media (max-width: $md2+px) {
      line-height: 40px;
   }
   @media (max-width: $md4+px) {
      line-height: 1;
   }
}

//<ОСНОВНОЙ БЛОК>====================================================================================================
.fullscreen {
   background: url("../img/bg.jpg") center/cover no-repeat;
   display: flex;
   min-height: 100vh;
   padding: 100px 0px 44px 0px;
}
.fullscreen__body {
   flex: 1 1 auto;
   max-width: $mw + px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
.fullscreen__text {
   flex: 1 1 auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 950px;
   margin: 0 auto;
}
.fullscreen__footer {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.fullscreen__title {
   font-family: "Kaushan Script";
   font-size: 80px;
   line-height: 116px;
   text-align: center;
   margin: 0px 0px 30px 0px;
   color: #fff;
   @media (max-width: $md2+px) {
      font-size: 60px;
      line-height: 80px;
   }
   @media (max-width: $md4+px) {
      font-size: 47px;
      line-height: 70px;
   }
}
.fullscreen__subtitle {
   font-family: Raleway;
   font-weight: 500;
   font-size: 30px;
   line-height: 35px;
   color: #fff;
   @media (max-width: $md2+px) {
      font-size: 25px;
   }
   @media (max-width: $md3+px) {
      font-size: 20px;
      line-height: 30px;
   }
}
.fullscreen__link {
   font-family: Raleway;
   font-weight: 300;
   font-size: 16px;
   // line-height: 19px;
   color: #fff;
   margin: 0px 0px 20px 0px;
   @media (max-width: $md4+px) {
      font-size: 14px;
   }
}
.fullscreen__arrow {
   position: relative;
   animation: arrow 1.5s infinite ease;
}
@keyframes arrow {
   0% {
      top: 0;
   }
   50% {
      top: 10px;
   }
   100% {
      top: 0;
   }
}

//====================================================================================================
.about {
   padding: 70px 0px 70px 0px;
   // border: 1px solid red;
   @media (max-width: $md2+px) {
      padding: 30px 0px 30px 0px;
   }
   @media (max-width: $md3+px) {
      padding: 30px 0px 0px 0px;
   }

   &__row {
      @include flexbox();
      margin: 40px 0px 0px -35px;
      @media (max-width: $md3+px) {
         flex-wrap: wrap;
         margin: 10px 0px 0px -35px;
      }
      &_rev {
         flex-direction: row-reverse;
      }
   }
   &__column {
      padding: 0px 0px 0px 35px;
      flex: 0 0 50%;
      @media (max-width: $md3+px) {
         flex: 1 1 100%;
      }
      &_1 {
         height: 100%;
         @media (max-width: $md3+px) {
            @include flexorder(2);
         }
      }
      &_2 {
         @media (max-width: $md3+px) {
            margin: 0px 0px 30px 0px;
            @include flexorder(1);
         }
      }
   }

   &__item {
      @media (max-width: $md2+px) {
         text-align: center;
      }
   }

   &__image {
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      @media (max-width: $md3+px) {
         padding: 0px 0px 120% 0px;
      }
   }
}
.item-about {
   // border: 1px solid black;
   &__rev {
      padding: 0px 0px 0px 100px;
      @media (max-width: $md2+px) {
         padding: 0;
         text-align: center;
      }
   }
   &__title {
      margin: 0px 0px 42px 0px;
      color: #343a40;
      @media (max-width: $md1+px) {
         margin: 0px 0px 25px 0px;
      }
   }

   &__text {
      max-width: 460px;
      padding: 0px 100px 0px 0px;
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      line-height: 36px;
      color: #343a40;
      margin: 0px 0px 100px 0px;
      @include adaptiv-font(20, 16);
      @media (min-width: $mw + px) {
         font-size: 20px;
      }
      &_1 {
         padding: 0;
      }
      @media (max-width: $md1+px) {
         line-height: 25px;
         margin: 0px 0px 30px 0px;
      }
      @media (max-width: $md2+px) {
         line-height: 25px;
         padding: 0;
      }
      @media (max-width: $md3+px) {
         max-width: 100%;
         margin: 0px 0px 25px 0px;
      }
      @media (max-width: $md4+px) {
      }
   }
   &__link {
      color: #1f8bff;
      text-decoration: underline;
      cursor: pointer;
   }
   &__btn {
      @media (max-width: $md2+px) {
         padding: 10px 60px;
         font-size: 17px;
      }
   }
}

//====================================================================================================
.tours,
.gall {
   padding: 70px 0px 80px 0px;
   // border: 2px solid red;
   @media (max-width: $md3+px) {
      padding: 0px 0px 30px 0px;
   }
   &__title {
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      @include adaptiv-font(50, 28);
      @media (min-width: $mw + px) {
         font-size: 50 + px;
      }
      // line-height: 130%;
      text-align: center;
      margin: 0px 0px 60px 0px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 25px 0px;
      }
   }
}
.foto {
   &-wrapper {
      display: flex;
      flex-direction: column;
   }
   &-row {
      display: flex;
      margin-left: -30px;
      flex-wrap: wrap;
      @media (max-width: $md2+px) {
         margin-left: -15px;
      }
      @media (max-width: $md3+px) {
         margin-left: -10px;
      }
   }
   &-column {
      padding-left: 30px;
      flex: 1 1 50%;
      &_1 {
         flex: 1 1 33%;
      }
      &_3 {
         padding: 0px 0px 30px 30px;
         @media (max-width: $md2+px) {
            padding: 0px 0px 15px 15px;
         }
         @media (max-width: $md3+px) {
            padding: 0px 0px 10px 10px;
         }
      }
      &_4 {
         flex: 1 1 16.5%;
         padding: 0px 0px 30px 30px;
         @media (max-width: $md2+px) {
            padding: 0px 0px 15px 15px;
         }
         @media (max-width: $md3+px) {
            padding: 0px 0px 10px 10px;
         }
      }
      @media (max-width: $md2+px) {
         padding-left: 15px;
      }
      @media (max-width: $md3+px) {
         padding-left: 10px;
      }
      @media (max-width: 570px) {
         flex-wrap: wrap;
         flex: 1 0 100%;
      }

   }

   &-card {
      position: relative;
      border-radius: 5px 5px 5px 5px;
      overflow: hidden;
      margin: 0px 0px 30px 0px;
      @media (max-width: $md2+px) {
         margin: 0px 0px 15px 0px;
      }
      @media (max-width: $md3+px) {
         margin: 0px 0px 10px 0px;
      }
      &_3 {
         height: 100%;
      }
      &_4 {
      }
   }
}
.card-foto {
   &__image {
      padding-bottom: 66%;
      &_1 {
         padding-bottom: 80.5%;
         @media (max-width: 570px) {
            padding-bottom: 73%;
         }
      }
      &_2 {
         padding-bottom: 56.042%;
         @media (max-width: 570px) {
            padding-bottom: 73%;
         }
      }
      &_3 {
         height: 100%;
         @media (max-width: 570px) {
            padding-bottom: 64.2%;
            img {
               object-position: bottom;
            }
         }
      }
      &_4 {
         padding-bottom: 32%;
      }
      &_5 {
         padding-bottom: 48.9%;
      }
      &_6{
         padding-bottom: 44%;
      }
      &_7{
         padding-bottom: 14%;
      }
   }
   &__title {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 15px 0px 15px 40px;
      @media (max-width: $md3+px) {
         padding: 10px 0px 10px 40px;
      }
      @media (max-width: 680px) {
         padding: 10px 0px 10px 0px;
         text-align: center;
      }
      &_1 {
         background: #9c9c9c;
      }
      &_2 {
         background: #b9a38c;
      }
      &_3 {
         background: #519c95;
      }
      &_4 {
         background: #573c2c;
      }
      &_5 {
         background: #506d4d;
      }
   }
   &__link {
      font-family: Raleway;
      font-style: normal;
      color: #fff;
      font-weight: 600;
      font-size: 30px;
      @include adaptiv-font(30, 18);
      // line-height: 130%;
      cursor: pointer;
   }
}

//====================================================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================================
